/* ===== Primary Styles ========================================================
   Author: Emerson Estrella (@emersonestrella)
   ========================================================================== */

body {
  /*padding-top: 60px;*/
  padding-bottom: 40px;
}

#canvas {
  padding: 0px;
  margin: 0px;
  top:0;
  left:0;
  z-index: 11;
  position: absolute;
}

#canvas_bg {
  padding: 0px;
  margin: 0px;
  top:0;
  left:0;
  z-index: 10;
  position: absolute;
}

.navbar{
  z-index: 12;
  opacity: 0.98;
}

#pause, #bgm, #sfx, #bgmoff, #sfxoff, #fullscreen, #exitfullscreen, #autosnap, #autosnapoff {
  display: none;
} 